@import "../../node_modules/normalize.css/normalize.css";
/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #008670;
  text-shadow: none;
}

::selection {
  background: #008670;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Baito style */
html,
body {
  height: 100%;
  background-color: #181a1b;
  color: #e8e6e3;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Raleway";
  src: url("../font/raleway-thin.woff") format("woff");
  font-style: normal;
  font-weight: 100;
  font-variant: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../font/raleway-light.woff") format("woff");
  font-style: normal;
  font-weight: 200;
  font-variant: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../font/raleway-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
}

.icon {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  display: block;
  margin-left: 10px;
}

.icon-pdf {
  -webkit-mask: url("../img/icons/file-pdf-solid.svg") no-repeat center;
  mask: url("../img/icons/file-pdf-solid.svg") no-repeat center;
}
.icon-github {
  -webkit-mask:url("../img/icons/github.svg") no-repeat center;
  mask: url("../img/icons/github.svg") no-repeat center;
}
.icon-linkedin {
  -webkit-mask: url("../img/icons/linkedin.svg") no-repeat center;
  mask: url("../img/icons/linkedin.svg") no-repeat center;
}
.icon-stack-overflow {
  -webkit-mask: url("../img/icons/stack-overflow.svg") no-repeat center;
  mask: url("../img/icons/stack-overflow.svg") no-repeat center;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 20vmin;
  line-height: 0.8;
  margin: 0;
}

@media (min-width: 800px) {
  h1 {
    font-size: 50vmin;
  }
}

header {
  /*background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);*/
  background-image: linear-gradient(to right, rgb(157, 92, 13) 0%, rgb(229, 137, 10) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#description {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 3vmin;
  text-align: right;
}

/*
 * ABOUT
 */

#about {
  font-family: 'Raleway', sans-serif;
  width: 80%;
  margin: 0 auto 100px;
  text-align: center;
  min-height: 100%;
}

.skill {
  /*background-color: #ff758c;*/
  background-color: rgb(157, 92, 13);
  border-radius: 14px;
  padding: 0 12px;

  color: #fff;
  font-size: 1.4rem;
}
/*
 * FOOTER
 */
footer {
  min-height: 60%;
  margin: auto;
  background-color: #222222;
  color: #ccc;
  padding-top: 60px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 800px) {

}
#footer-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#footer-large-text {
  font-size: 7vmax;
  font-weight: bold;
  text-transform: uppercase;
}

#footer-contact-info {
  margin-top: 60px
}
#footer-contact-header {
  font-size: 3vmax;
  font-weight: 400;
}

#footer-end {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  border-top: #ccc solid 1px;
  margin: 50px auto 40px;
}
@media (min-width: 800px) {
  footer {
    padding-top: 120px;
  }
  #footer-container {
    width: 90%;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  #footer-large-text {
    width: 70%;
    font-size: 7vm;
  }
  #footer-contact-info {
    border-left: #ccc solid 1px;
    padding-left: 40px;
    margin-top: 0;
  }

}